* {
    margin: 0;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}





/* about sau cover css start  */
.about_sau {
    /* padding: 2vh 5vw 0vw 5vw; */
    /* margin-top: 16vh; */
}

.about_link_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #049906 !important;
    padding: 10px 0px;
}

.about_link_p a {
    color: #049906 !important;
}

.about_sau_top_link {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
    margin-top: 125px;

}

.about_sau_top_link p {
    font-size: 12px;
}

.about_sau_top_link a {
    color: #049906 !important;
    font-size: 12px;
}

.about_sau_top_link img {
    height: 12px;
    margin-bottom: 4px;
}

.about_sau_cover {
    background-image: url(../image/contact_cover.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8%;
}

.about_sau_cover p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* about sau cover css end  */


/* history css part start  */
.about_history {
    border: 1px solid #C8BCBC;
    box-sizing: border-box;
    padding: 1%;
}

.history_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.history_img img {
    width: 32%;
    margin: 1%;
}

.about_history_details_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25.2774px;
    line-height: 30px;
    letter-spacing: 0.01em;

    color: #000000;
}

.about_history_details_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    margin-top: 10px;
    color: #413D3D;
}

.about_history_details {
    padding: 3%;
}



.about_vission {
    border: 1px solid #C8BCBC;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 20px;
}

.about_mission {
    border: 1px solid #C8BCBC;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 20px;
}

.at_a_glance {
    padding: 5vh 0;
}

.information {
    padding: 5vh 0;
}

.information_top {
    display: flex;
    align-items: center;
    padding: 0vh 0 3vh 0;
}

.information_top p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25.2774px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 10px;


}

.information_bottom_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #413D3D;
}

.information_bottom_p span {
    font-weight: bold !important;
}

/* responsive css start  */
@media screen and (max-width :800px) {
    .about_sau_top_link {
        font-size: 12px !important;
        margin-top: 90px;
    }
    
}
@media screen and (max-width :520px) {
    .nav_main {
        height: 8vh;
    }
    .about_sau_top_link p {
        font-size: 12px;
    }
    .about_sau_top_link{
        margin-top: 70px;
        font-size: 12px !important;
    }
    .about_sau {
        /* margin-top: 6vh; */
    }

    .about_link_p {
        font-size: 18px;
        padding: 4px 0px;
    }

    .about_sau_cover p {
        font-size: 18px;
        line-height: 30px;
    }

    .about_sau_cover img {
        height: 4px;
    }

    .about_history_details_p1 {
        font-size: 18px;
        line-height: 10px;
    }

    .about_history_details img {
        height: 4px;
    }

    .about_history_details_p2 {
        font-size: 12px;
        line-height: 15px;
    }

    .about_mission {
        margin-top: 10px;
    }

    .about_vission {
        margin-top: 10px;
    }

    .at_a_glance {
        padding: 2vh 0;
    }

    .information_top p {
        font-size: 18px;
    }

    .information_top img {
        height: 35px;
        margin-left: 15px;
    }

    .information_bottom_p {
        font-size: 12px;
        line-height: 15px;
    }

    .information {
        padding: 1vh 0;
    }

    .information_top img {
        height: 35px;
    }
}

/* responsive css end  */
/* history css part end  */
