* {
    margin: 0;
    font-family: Roboto;

}

body {
    /* overflow: hidden; */
}

a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}








/* contact cover start css  */
.contact_cover {
    /* margin-top: 15vh; */
}

.contact_cover_main {
    padding: 0 !important;
    margin-bottom: 30px;
}

.contact_img {
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 42.2019px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 15% 0%;
    color: #FFFFFF;
}

.contact_cover_top_link {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px !important;
    font-size: 16px;
    margin-top: 125px !important;
}

.contact_cover_top_link img {
    height: 12px;
    margin-bottom: 4px;
}

.contact_img::after {
    content: "";
    background: url(../image/academic_programme_cover.png);
    /* opacity: 0.5; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.contact_img img {
    height: 10px;
    margin-top: 15px;
}

.contact_cover_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #153E90;
}


.contact_cover_bottom a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20.0008px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24.052px;
    padding: 5px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 12px;


}


/* contact cover start responsive css  */
@media screen and (max-width :800px) {
    .contact_cover {
        /* margin-top: 8vh; */
    }

    .postgradute_bottom {
        flex-wrap: wrap;
    }

    .postgradute_left {
        width: 100% !important;
    }

    .postgradute_right {
        width: 100% !important;
    }
}

@media screen and (max-width :800px) {
    .contact_cover_top_link {
        font-size: 12px !important;
        margin-top: 90px !important;
    }
    
}
@media screen and (max-width :520px) {
    .contact_img {
        font-size: 18px;
    }
    .contact_cover_top_link{
        font-size: 12px;
        
    }
    .contact_img img {
        height: 4px;
        margin-top: 0px;
    }

    .undergradute_cover_top p {
        font-size: 18px !important;
    }

    .undergradute_cover{
        padding: 10px 0px !important;
    }
    .undergradute_cover_top img {
        margin-top: -2px !important;
        height: 3px !important;
    }

    .undergradute_bottom p {
        font-size: 14px !important;
    }

    .undergradute_bottom ul li {
        font-size: 16px !important;
    }

    .undergradute_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .undergradute_bottom ul {
        margin-left: -45px !important;
    }

    .undergradute_cover {
        /* border: none !important; */
        box-sizing: border-box !important;
        /* padding: 0% !important; */
        /* margin-bottom: 30px; */
    }

    .undergradute_cover_top {
        margin-bottom: 0px !important;
    }

    .postgradute_cover_top img {
        margin-top: -3px !important;
        height: 3px !important;
    }

    .postgradute_cover_top p {
        font-size: 18px !important;
    }

    .postgradute_bottom {
        display: flex;
        flex-wrap: wrap !important;
    }

    .postgradute_left {
        width: 100% !important;
    }

    .postgradute_right {
        width: 100% !important;
    }

    .postgradute_left p {
        font-size: 14px !important;
    }

    .postgradute_item a {
        font-size: 16px !important;
    }

    .postgradute_bottom {
        text-align: center;
    }

    .postgradute_item ul {
        /* margin-left: -15px !important; */
    }

    .postgradute_right p {
        font-size: 14px !important;
    }

    .support_calander {
        flex-wrap: wrap !important;
    }

    .calander_support_left {
        width: 100% !important;
        margin: 1% 2% 1% 2% !important;
    }

    .calander_support_right {
        width: 100% !important;
        margin: 1% 2% 1% 2% !important;
    }

    .postgradute_cover {
        /* border: none !important; */
        box-sizing: border-box !important;
        padding: 10px 0px !important;

    }

    .postgradute {
        margin: 30px 0px !important;
    }

    .postgradute_cover_top {
        margin-bottom: 0px !important;
    }

    .calander_support_left_p1 {
        font-size: 14px !important;
        padding: 3% !important;
    }

    .calander_support_left_p2 {
        font-size: 14px !important;
        padding: 3% 2% 2% 2% !important;
    }

    .calander_support_left_p3 {
        padding: 0% 3% 3% 2% !important;
    }

    .calander_support_left_p4 {
        font-size: 14px !important;
        padding: 3% 2% 2% 2% !important;
        margin-top: 10px !important;
    }

    .calander_support_left_p5 {
        padding: 0% 3% 3% 2% !important;
    }

    .calander_support_diversity_p1 {
        font-size: 18px;
    }
}

/* contact cover end responsive css  */
/* contact cover css end  */




/* undergradute css start  */

.undergradute {
}

.undergradute_cover {
    border: 1px solid #B5AEAE;
    box-sizing: border-box;
    padding: 3%;
    margin-bottom: 30px;
}

.undergradute_cover_top p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #1882FF;
}

.undergradute_cover_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}


.undergradute_cover_top img {
    margin-top: 10px;
}

.undergradute_bottom p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-top: 20px;

}

.undergradute_bottom a {
    font-size: 18px;
    color: #000;
}
.undergradute_bottom a :hover{
    color: #000;
}
/* undergradute css end  */

/* postgradute css start  */


.postgradute {
    
}

.postgradute_cover {
    border: 1px solid #B5AEAE;
    box-sizing: border-box;
    padding: 3%;
    margin-bottom: 30px;
}

.postgradute_cover_top p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #54E346;
}

.postgradute_cover_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}


.postgradute_cover_top img {
    margin-top: 10px;
}

.postgradute_left p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.06em;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 10px !important;
}

.postgradute_item a {
    margin-bottom: 2px !important;
    font-size: 16px;
    color: #000;
}
.postgradute_item:hover{
    color: #000;
}

.postgradute_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postgradute_right p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.06em;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 10px !important;
}

.postgradute_left ul li {
    font-size: 16px;
}

.postgradute_bottom {
    display: flex;
}

.postgradute_left {
    width: 49%;
}

.postgradute_right {
    width: 49%;
}

/* postgradute css end  */




/* calander css tart  */
.support_calander_container {
    padding: 0 !important;
}

.support_calander {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    justify-content: center;
}

.calander_support_left {
    width: 48%;
    margin: 1% 1% 1% 0%;
}

.calander_support_right {
    width: 48%;
    margin: 1% 0% 1% 1%;
}

.calander_support_left_p1 {
    background: #153E90;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21.6946px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 6%;
}

.calander_support_left_p2 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2709px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 5% 2% 4% 2%;
}

.calander_support_left_p3 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6552px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 0% 3% 5% 2%;
}

.calander_support_left_p4 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2709px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 5% 2% 4% 2%;
    margin-top: 10px;
}

.calander_support_left_p5 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6552px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 0% 3% 5% 2%;
}

.calander_support_diversity {
    padding: 2% 0% 0% 0%;
}

.calander_support_diversity_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21.6946px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 10px !important;
    margin-top: 52px;
}

.calander_support_diversity_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6552px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
}

.calander_support_right img {
    width: 100%;
    height: 255px !important;
}

.calander_support_diversity_p2 a {
    color: red;
}

/* calander css end  */
