* {
    margin: 0;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}







/* contact cover start css  */
.why_library_cover {
    /* margin-top: 16vh; */
}

.why_library_cover_top_link {
    display: flex;
    /* margin-bottom: 15px; */
    padding: 10px 0px;
    font-size: 16px !important;
}

.why_library_cover_top_link img {
    height: 12px;
    margin-bottom: 4px;
}

.why_library_cover_main {
    padding: 0 !important;
}

.why_library_img {
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 42.2019px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 12%;
    color: #FFFFFF;
}

.why_library_img::after {
    content: "";
    background: url(../image/contact_cover.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.why_library_img img {
    height: 10px;
    margin-top: 15px;
}

.why_library_cover_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #153E90;
}


.why_library_cover_bottom a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20.0008px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24.052px;
    padding: 5px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 12px;
}

/* contact cover css end  */





/* why library css start  */
.why_library {

    margin: 20px 0px;
}

.why_library_main {
    display: flex;
    align-items: center;
    padding: 1%;
    border: 0.879205px solid #C8BCBC;
    box-sizing: border-box;
}

.why_library_left {
    padding: 0% 1% 0% 0%;
}

.why_library_right {
    padding: 0% 0% 0% 1%;
}

.why_library_right_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000000;
}

.why_library_right_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.4633px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #413D3D;
    margin-top: 20px;
}

/* why library_css responsive start  */



@media screen and (max-width :520px) {
    .why_library_img {
        font-size: 18px !important;
    }

    .why_library_img img {
        height: 4px !important;
        margin-top: -4px !important;
    }

    .why_library_cover {
        margin-top: 8vh;
    }
    .why_library_cover_top_link{
        font-size: 12px;
    }
}

/* why library_css responsive end  */

/* why library_css end  */




/* campus offer card css atrt  */
.campus_offer_card_main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.campus_offer_card_component {
    width: 31%;
    padding: 1% 1% 0% 1%;
    border: 0.812598px solid #C8BCBC;
    box-sizing: border-box;
    margin: 1% 0%;
}

.campus_offer_card_component_img {
    width: 100%;
}

.campus_offer_card_component_bottom_a {
    text-decoration: none !important;
}

.campus_offer_card_component_bottom {
    display: flex;
    align-items: center;
    padding: 3% 1%;
}

.campus_offer_card_component_bottom p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000000;
}

.campus_offer_card_component_bottom img {
    height: 18px;
}

.view_gallery_div {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23.073px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FFFFFF;

    text-decoration: none !important;
    margin: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.view_gallery {
    text-align: center;
    background: #000000;
    padding: 12px 35px;
    text-decoration: none;
    color: #fff;
}

.view_gallery:hover {
    color: #FFFFFF;
}

/* campus offer card responsive css start  */
@media screen and (max-width :520px) {
    .why_library_main {
        flex-wrap: wrap;
    }

    .why_library_left {
        height: 20% !important;
        width: 100%;
    }

    .why_library_left img {
        width: 100% !important;
        height: 20% !important;
    }

    .why_library_right_p1 {
        font-size: 18px !important;
    }

    .why_library_right_p2 {
        font-size: 12px;
        line-height: 15px;
        margin-top: 5px;
    }

    .campus_offer_card_component {
        width: 100% !important;
        margin: 1% 0%;
    }

    .campus_offer_card_component_bottom p {
        font-size: 18px;
    }

    .view_gallery {
        font-size: 14px;
        padding: 6px 18px;
        margin: 3%;
    }
}

/* campus offer card responsive css end  */

/* campus offer card css end  */
