/* start footer section--- */
.footer {
    background-color: #000;
    color: white;
    padding: 5% 0%;
}

.footerIcon {
    margin-top: 10px;
}

.fa-facebook-f {
    background-color: #1882FF;
}

.fa-twitter {
    background-color: #60B0ED;
}

.fa-linkedin-in {
    background-color: #1B70C4;
}

.fa-youtube {
    background-color: #FF0000;
}

.footerBg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerIcon i {
    text-align: right;
    padding: 9px;
    margin: 0px 2px;
    width: 35px;
    color: white;
    border-radius: 2px;
}

.footer_1st_col p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5719px;
    line-height: 3px;
    letter-spacing: 0.01em;
    line-height: 20px !important;

}

.footer_1st_col .uName {
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 16.8055px;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
}

.footer_1st_col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_1st_col img {

    height: 150px;
    margin-bottom: 12px;
    height: 122px !important;
}

.footer_2nd_col {
    display: flex;
    flex-direction: column;
}

.footer_2nd_col a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    /* identical to box height */
    letter-spacing: 0.01em;

    color: #E2E2E2;
    border-bottom: 0.737342px solid #282828;
    padding: 5px 0px;
}

.footer_2nd_col {
    /* padding: 0% 5%; */
}

.footer_2nd_col .top_footer_txt {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22.2887px;
    line-height: 26px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
    border: 0;
    margin-bottom: 25px;
}

.top_footer_txt {
    margin-top: 20px;
}

.footer_txt {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.footer_txt p {
    margin-left: 0px;
}

.footer_txt img {
    /* height: 10px; */
    display: none;

}

.footer_3rd_col {
    display: flex;
    flex-direction: column;
}

.footer_3rd_col .top_footer_txt {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22.2887px;
    line-height: 26px;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
    color: #FFFFFF;
    border: 0;
}

.footer_3rd_col {
    /* padding: 0% 5%; */
}

.footer_3rd_col a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* letter-spacing: 0.01em; */
    color: #E2E2E2;
    border-bottom: 0.737342px solid #282828;
    padding: 5px 0px;
    margin-bottom: 5px;
}

.footer_4th_col {
    /* padding: 0% 5%; */
}

.footer_4th_col a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    /* identical to box height */
    letter-spacing: 0.01em;

    color: #E2E2E2;
    border-bottom: 0.737342px solid #282828;
    padding: 5px 0px;
}

.footer_4th_col {
    display: flex;
    flex-direction: column;

}

.footer_4th_col .top_footer_txt {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22.2887px;
    line-height: 26px;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
    color: #FFFFFF;
    border: 0;
}

/* footer responsive css start  */
@media screen and (max-width :800px) {
    .footer_2nd_col {
        /* padding: 0% 5%; */
        width: 100%;
    }

    .footer_3rd_col {
        width: 100%;
    }

    .footer_4th_col {
        width: 100%;
    }
}

@media screen and (max-width :550px) {
    .footer_bottom {
        display: block;
    }
}

@media screen and (max-width :360px) {
    .footer_1st_col img {
        height: 100px !important;
        margin-bottom: 2px;
    }

    .footer_1st_col .uName {
        font-size: 13.805px;
    }

    .footerIcon i {
        padding: 6px;
        margin: 0px 2px;
        width: 30px;
        height: 30px;
    }

    .footerIcon {
        margin-bottom: 15px;
    }

    .footer_2nd_col a {
        padding: 10px 0px;
    }

    .footer_3rd_col a {
        padding: 10px 0px;
    }

    .footer_4th_col a {
        padding: 10px 0px;
    }

    .footer_3rd_col .top_footer_txt {
        margin-top: 20px;
    }

    .footer_4th_col .top_footer_txt {
        margin-top: 20px;
    }
}

/* footer responsive css end  */




/* footer end  */

/* footer bottom start  */
.footer_bottom {
    background: #1F212F;
    color: #FFFFFF;
    border-top: 0.5px solid #DFDFDF;
    padding: 20px 50px;
}

.footer_bottom_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_bottom_left {
    display: flex;
    align-items: center;
    /* flex: 3; */
    width: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    justify-content: end;
}

.footer_bottom_left a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_bottom_right {
    display: flex;
    align-items: center;
    justify-content: end;
    /* flex: 7; */
    width: 70%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14.9094px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    flex-wrap: wrap;
    justify-content: start;
}

.footer_bottom_right a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 25px;
    border-right: 0.5px solid #666666;
    margin-top: 5px;
}

.footer_bottom_right a:hover {
    color: #fff;
}

/* bottom resoinsve css start  */

@media screen and (max-width :1420px) {
    .footer_bottom_right {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 12px;
        line-height: 12px;
        margin-top: 1px;
        padding: 0px 10px;
    }
}

@media screen and (max-width :800px) {
    .footer_bottom_right {
        flex-wrap: wrap;
    }

    .footer_bottom_left {
        font-size: 12.289px;
    }

    .footer_bottom_right_a {}

    .footer_bottom_right a {
        font-size: 12px;
        line-height: 12px;
        margin-top: 1px;
        padding: 0px 10px;
    }

}

@media screen and (max-width :700px) {
    .footer_bottom_right a {
        font-size: 12px;
        line-height: 22px;
        margin-top: 1px;
        padding: 0px 10px;
        justify-content: center;
    }

    .footer_bottom_right {
        justify-content: center;
    }

    .footer_bottom_left {
        width: 100% !important;
        justify-content: center;
    }
}

@media screen and (max-width :550px) {
    .footer_bottom_right {
        width: 100%;
    }

    .footer_bottom_left {
        border-top: 0.5px solid #968787;
        margin-top: 8px;
        margin-top: 9px;
        padding-top: 8px;
    }

    /* .footer_bottom { */
    .footer_bottom {
        background: #1F212F;
        color: #FFFFFF;
        border: none;
        padding: 20px 50px;
    }

    /* } */
}

@media screen and (max-width :360px) {
    .footer_bottom {
        padding: 10px 15px;
    }

    .footer_bottom_left a {
        font-size: 12px;
    }

    .footer_bottom_right a {
        font-size: 12px;
    }

    .footer_bottom_right {
        align-items: center;
        justify-content: center;
    }

    .footer_bottom_right a {
        font-size: 12px;
        line-height: 20px;
        margin-top: 1px;
        padding: 0px 5px;
    }

    .footer_bottom_left {
        justify-content: center;
        width: 100%;
    }

}

/* bottom responsive css end  */


/* bottom footer css end  */
