* {
    margin: 0;
    font-family: Roboto;

}

body {
    /* overflow: hidden; */
}

a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}



.search_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.search_btn:hover,
.search_btn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropbtn {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #fff;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    margin-right: 0%;
    overflow: hidden;
    opacity: 0%;
    margin-top: 8%;
    height: 1%;
    width: 90%;
    margin-right: 2%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 30px;
    text-decoration: none;
    background-color: #54E346;
    margin: 10px 10px;
    color: #fff;
    font-size: 20px;
}

#searchInput {
    padding-left: 1%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #049906;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.add {
    display: block;
    display: block;
    margin-right: 0%;
    width: 90% !important;
    margin-top: 17%;
    z-index: 1000;
    /* position: fixed; */
    height: 70px;
    display: flex;
    transition: all .5s ease;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
    opacity: 100%;
}

@media screen and (max-width: 1300px) {
    .add {
        margin-top: 20%;
        /* margin-right: 2%; */
    }
}

@media screen and (max-width: 1200px) {
    .add {
        margin-top: 20%;
    }
}

@media screen and (max-width: 1100px) {
    .add {
        margin-top: 22%;
    }
}

@media screen and (max-width: 1000px) {
    .add {
        margin-top: 25%;
    }
}

@media screen and (max-width: 900px) {
    .add {
        margin-top: 28%;
    }
}

@media screen and (max-width: 800px) {
    .add {
        margin-top: 27%;
    }
}

@media screen and (max-width: 600px) {
    .add {
        margin-top: 32%;
        margin-right: 0%;
    }
}

@media screen and (max-width: 500px) {
    .add {
        margin-top: 38%;
        margin-right: 0%;
        height: 50px;
    }

    .dropdown-content a {
        padding: 6px 18px !important;
        margin: 8px 8px !important;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 400px) {
    .add {
        margin-top: 33%;
        margin-right: -1%;
        height: 40px;
        /* .dropdown-content a {
        color: black;
        padding: 8px 16px;
    } */
    }

}

#searchInput {
    width: 100%;
    border: none;
    background-color: #fff;
    outline: none;
}


.nav_main {
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    /* position: fixed;  */
    top: 0;
    width: 100%;
    z-index: 10;
    /* border: 1px solid #757575; */
    padding: 10px 0px;
    position: absolute;
    transition: all .5s ease;
    border-bottom:1px solid #CBCBCB;
}

.nav_label_one {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.nav_label_two {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.nav_toggle {
    background-color: #54E346 !important;
}

.left_nav {
    /* flex: 4; */
    display: flex;
    align-items: center;
    padding-left: 5%;
    text-decoration: none !important;
}

.left_nav img {
    height: 100px;
}
.mujiblogo{
    margin-left: 4%;
}

.logo_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16.1915px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000;
    margin-left: 10px;
    margin-bottom: 5px;
}

.logo_text_bd {
    border-top: 1px solid #ebebeb;
    margin-top: 2px;
    color: #54E346;
    padding-top: 5px;
    font-size: 14px;
}

.right_nav {
    flex: 5;
    display: flex;
    align-items: center;
    right: auto;
    justify-content: end;
    padding-right: 5%;
}

.nav_icon_main {
    background-color: black;
    color: white;
    width: 60px;
    height: 60px;
    border: 1px solid #54E346;
    /* padding: 10; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-decoration: none !important;
    cursor: pointer;
}

.nav_icon {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


/* nav responsive css  */

@media screen and (max-width: 1280px) {
    .left_nav img {
        height: 100px;
    }

    .logo_text {
        font-size: 16.191px;
        line-height: 16px;
    }
}


@media screen and (max-width: 600px) {
    .logo_text {
        font-size: 10.191px;
        line-height: 10px;
    }

    .left_nav img {
        height: 65px !important;
    }

    .nav_icon_main {
        width: 45px;
        height: 45px;
        border: 1px solid #54E346;
        margin-left: 10px;
    }

    .nav_icon_1 {
        height: 48px !important;
    }

    .nav_icon_2 {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    .nav_icon_3 {
        height: 30px;
    }
}


@media screen and (max-width :360px) {
    .left_nav img {
        height: 45px !important;
    }

    .left_nav img {
        height: 45px;
    }

    .nav_icon_1 {
        height: 37px !important;
    }


    .nav_icon_2 {
        font-size: 15px !important;
    }

    .nav_icon_3 {
        height: 27px;
    }

    .nav_icon_main {
        width: 35px;
        height: 35px;
        border: 1px solid #54E346;
        margin-left: 5px;
    }

}




/* nav responsive css end  */


/* nav css end  */

/* nav popbar css start  */

.nav_pop_bar {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    left: 100%;
    transition: all .5s ease;
    visibility: hidden;
    overflow: hidden;
    max-height: 0px;
}

.nav_pop_bar_main {
    background: #141414;
    backdrop-filter: blur(200px);
    height: 100vh;
    padding: 0px 60px;
}

.nav_pop_icon {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 50px 40px;
}


.search-bar {
    /* margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* top: 50%;
    left: 50%; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* border: 1px solid #54E346;
    transition-duration: 0.2s;
    height: 70px; */
}

.search-bar a {
    /* height: 70px;
    width: 70px; */
}

.textbox {
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 40px;
    font-size: 25px;
    height: 45px;
    background-color: transparent;
    outline: none;
    height: 100%;
    float: left;
    color: #000;
    transition-duration: 0.05s;
}

.textbox_pop {
    color: #fff !important;
}

.search-btn {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    /* border-left: 5px black solid; */
    height: 100%;
    transition-duration: 0.2s;
    background-color: black;
    border: 1px solid #54E346;
}

.search-btn .search_img {
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    height: 30px;
}

/* .search-bar:hover>.textbox {
    padding: 0px 10px 0px 10px;
    width: 100%;
    transition-duration: 0.8s;
} */

.search-bar:hover>.search-btn {
    /* border-left: 5px black solid; */
    /* transition-duration: 0.8s; */
}

.search-btn:hover {
    /* background-color: black; */
    /* transition-duration: 0.8s; */
}

/* .search-btn:hover>.search_img {
    color: white;
    transition-duration: 0.8s;
} */

.search_img {
    /* background-color: red; */
    height: 30px;
}

.nav_pop_icon a img {
    border: 1px solid #54E346;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 15px;
    margin-left: 15px;
}


.nav_main_options {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 0% 0% 0%;
}

.nav_main_options a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 1px solid #54E346;
    margin-right: 40px;
    margin-top: 30px;
}

.nav_2ndlebel_option {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    margin: 40px 0% 0% 0%;
}

.nav_2ndlebel_option .nav_2ndlebel_option_add a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* letter-spacing: 0.01em; */
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 50px;
    margin: 5% 0%;
    margin-right: 8px;
}

.nav_2ndlebel_option .nav_2ndlebel_option_add img {
    margin-right: 45px;
}

.nav_2ndlebel_option {}

.nav_2ndlebel_option_add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bottom_btn {
    margin-top: 40px;
}

.nav_bottom_btn a {
    background: #54E346;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 40px;
    margin-right: 40px;
}

.nav_botton_btn_signin {
    background: #404040 !important;
    color: #54E346 !important;
}

.nav_pop_bar.open {
    visibility: visible !important;
    z-index: 1000;
    left: 0% !important;
    overflow: visible;
}

.nav_pop_bar.close {
    visibility: hidden;
    z-index: 0;
}


.nav-toggler {
    cursor: pointer;
    /* z-index: 60000; */
}

@media screen and (max-width: 995px OR max-height: 580px) {
    .nav_main_options a {
        margin-top: 12px;
    }

    .nav_2ndlebel_option {
        margin: 4% 0% 0% 0%;
    }
}

@media screen and (max-width :1024px) {
    .nav_main_options {
        margin: 0% 0% 0% 0% !important;
    }

    .nav_main_options a {
        margin-top: 5px !important;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        margin: 0% 0% !important;
    }

    .nav_bottom_btn a {
        padding: 10px 30px;
    }

    .nav_bottom_btn {
        margin-top: 8% !important;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add img {
        margin-left: 5px;
    }
}

/* nav popbar responsive css start  */
@media screen and (max-width :800px) {
    .nav_main {
        height: 10vh;
    }

    .left_nav img {
        height: 60px;
    }

    .logo_text {
        font-size: 12.191px;
        line-height: 12px;
    }

    .mujib_logo {
        margin: 0px !important;
    }

    .home_heading_text {
        font-size: 28.99px !important;
        line-height: 30px !important;
    }

    .home_p_text {
        font-size: 12px !important;
        line-height: 16px !important;
        margin-top: 35vh !important;
    }

    .home_arrow_prev {
        margin-top: -63vh;
    }

    .home_arrow_next {
        margin-top: -63vh;
    }

    .home_btn_one {
        font-size: 14.012px !important;
        line-height: 22px !important;
        padding: 10px 28px !important;
    }

    .home_btn {
        margin-top: 52vh !important;
    }

    .home_btn_two {
        font-size: 14.012px !important;
        line-height: 22px !important;
        padding: 10px 28px !important;
    }

    .home_btn {
        margin-top: 52vh !important;
    }
}

@media screen and (max-width :550px) {
    .nav_pop_icon {
        padding: 20px 0px;
    }
    .contact_cover_top_link {
        font-size: 12px !important;
    }

    .nav_pop_icon a img {
        width: 45px;
        height: 45px;
        padding: 9px;
        margin-left: 5px;
    }

    .logo_text {
        font-size: 12.191px;
        line-height: 12px;
    }

    /* .search-bar {
        height: 45px !important;
    }

    .search-bar input {
        font-size: 12px;
    }

    .search-bar a {
        height: 45px !important;
        width: 45px !important;
    } */

    .addbar {
        /* display: none; */
    }

    .nav_pop_bar_main {
        padding: 0px 35px;
    }

    .nav_main_options a {
        font-size: 10px;
        line-height: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 8px;
        line-height: 15px;
        margin-right: 50px;
        margin-right: 3px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add img {
        margin-right: 8px;
        height: 8px;
    }

    .nav_bottom_btn a {
        font-size: 8px;
        padding: 5px 15px;
        margin-right: 5px;
    }

    .nav_main_options {
        margin: 35% 0% 0% 0% !important;
    }

    .nav_main_options a {
        font-size: 18px;
        line-height: 30px;
    }

    .nav_2ndlebel_option {
        margin: 14% 0% 0% 0% !important;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 16px;
        line-height: 22px;
    }

    .nav_bottom_btn a {
        font-size: 16px;
        padding: 10px 25px;
    }

    .nav_bottom_btn {
        margin-top: 30% !important;
    }

    .nav_2ndlebel_option {
        margin: 10% 0% 0% 0% !important;
    }

    .search_img {
        height: 20px;
    }
}

@media screen and (max-width :420px) {
    .nav_main {
        height: 8vh !important;
    }

    .left_nav img {
        height: 45px !important;
    }

    .logo_text {
        font-size: 11.191px;
        line-height: 12px;
        margin-left: 0px;
    }

    .mujib_logo {
        margin-top: -80px !important;
    }
}

@media screen and (max-width :360px) {
    .nav_pop_icon {
        padding: 8px 0px;
    }

    .nav_pop_icon a img {
        width: 45px;
        height: 45px;
        padding: 9px;
        margin-left: 5px;
    }

    .nav_pop_bar_main {
        padding: 0px 35px;
    }

    .nav_main_options a {
        font-size: 10px;
        line-height: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 8px;
        line-height: 15px;
        margin-right: 50px;
        margin-right: 3px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add img {
        margin-right: 8px;
        height: 8px;
    }

    .nav_bottom_btn a {
        font-size: 8px;
        padding: 5px 15px;
        margin-right: 5px;
    }

    .nav_main_options {
        margin: 35% 0% 0% 0% !important;
    }

}

@media screen and (max-width :420px) {
    .left_nav img {
        height: 40px !important;
        
    }
    .mujiblogo{
        width: 70px;
    }
    .logo_text {
        font-size: 10.191px !important;
        line-height: 10px !important;
    }

    .nav_main_options {
        margin: 20% 0% 0% 0% !important;
    }

    .nav_main_options a {
        font-size: 15px !important;
        line-height: 15px !important;
        margin-top: 20px !important;
    }

    .nav_2ndlebel_option {
        margin: 12% 0% 0% 0%;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 13px;
        line-height: 20px;
    }

    .nav_bottom_btn a {
        font-size: 10px;
        padding: 10px 30px;
    }
}

@media screen and (max-width: 600px) {
    .home_heading_text {
        font-size: 30.99px;
        line-height: 32px;
    }
    .mujiblogo{
        display: none;
    }
}

@media screen and (max-width :900px) {
    .logo3{
        display: none;
    }
}


/* nav popbar responsive css end  */

/* .nav_pop_icon_coros{
    z-index: -10; 
} */

/* nav css pobar end  */

