* {
    margin: 0;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}




/* pop button css start  */


.sau_dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #141414 !important;
}

.sau_dialog h1 {
    color: #049906;
}

.sau_dialog a {
    background: white;
    padding: 6px 30px;
    margin: 5px 0px;
    text-decoration: none;
    color: #000;
    width: 270px;
    text-align: center;
}

.sau_dialog a:hover {
    color: #ffff;
    background-color: #049906;
}

.mfp-close {
    color: #ffff;
    font-size: 50px;
}

.mfp-close:hover {
    color: #049906;
}

.sau_library_btn {
    position: fixed;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    border: 4px solid green;
    margin: 1%;
    text-decoration: none !important;
    font-weight: bold;
    display: none;
    font-size: 18px;
    text-align: center;
}

.sau_library_btn:hover {
    color: #ffff;
}

@media screen and (max-width :520px) {
    .sau_library_btn {
        display: flex;
        z-index: 1000;
    }
}

/* pop button css :end */


/* personal information home css start */
.personal_information {
    padding: 8vh 5vw 8vh 5vw;
    margin-top: 10vh;
}

.personal_information_main {
    display: flex;
}

.personal_information_left {
    background-color: #F6F6F6;
    padding: 1%;
    height: 100%;
}

.personal_information_left_link_box {
    display: flex;
    flex-direction: column;
    background-color: #fff;

}

.personal_information_left_link_box div {
    border-bottom: 1px solid #BDBBBB;
    padding: 5% 0%;
}

.personal_information_left_link_box a {
    text-decoration: none;
    color: #000;
    padding-left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20.0524px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #000000;
}

.personal_information_left_link_box a:hover {
    border-left: 5px solid #54E346;
    font-weight: 500;
}

.t_social_icon {
    display: flex;
}

.t_social_icon img {
    border: 0.223647px solid #2F3133;
    box-sizing: border-box;
    padding: 1%;
    margin: 0.3%;
    height: 30px;
    width: 30px;
    padding: 18%;
    margin: 2px;
}

.t_personal_information_main {
    background: #F6F6F6;
    padding: 3%;
}

.t_education_details_single {
    padding: 3%;
    border-bottom: 1px solid #DEDEDE;
}

.t_personal_information {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffff;
    padding: 3%;
    align-items: center;
}

.t_personal_information_right_p1 {
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
    color: #3D3D3D;
}

.t_personal_information_right_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 134.69%;
    letter-spacing: 0.01em;
    color: #3D3D3D;
}

.t_personal_information_right_p3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 134.69%;
    letter-spacing: 0.01em;
    color: #3D3D3D;
}

.t_personal_information_right {
    padding: 2% 5%;
}

.t_education_details {
    background: #F6F6F6;
    padding: 3%;
}

.t_education_details_main {
    background-color: #ffff;
}

.t_education_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.045em;
    color: #000000;
    padding: 5% 0% 2%;
}

.t_education_details_single_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.045em;
    color: #000000;
    margin-bottom: 12px;
}

.t_education_details_single_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.045em;
    color: #000000;
}

.t_education_details_single p span {
    font-weight: bold;
}

.t_language_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.045em;
    color: #000000;
    padding: 5% 0% 2%;
}

.t_language_details {
    background: #F6F6F6;
    padding: 3%;
}

.t_language_details_main {
    background-color: #ffff;
}

.t_language_single {
    padding: 3%;
    border-bottom: 1px solid #DEDEDE;
}

.t_language_single_a{
    padding: 3%;
}

.t_language_single_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 12px !important;
}

.t_language_single_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000000;
}

@media screen and (max-width :520px) {
    .personal_information_left {
        display: none;

    }

    .personal_information {
        margin-top: 1vh;
    }

    .t_personal_information {
        justify-content: center;
    }

    .t_personal_information_img {
        height: 170px;
    }

    .t_personal_information_right_p1 {
        font-size: 18px;
    }

    .t_personal_information_right_p2 {
        font-size: 16px;
        text-align: center;
    }

    .t_personal_information_right_p3 {
        font-size: 12px;
        text-align: center;
    }

    .t_personal_information_right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .t_personal_information_right_p3 {
        margin-top: 5px;
    }

    .t_social_icon {
        margin-top: 5px;
    }

    .t_education_p {
        font-size: 18px;
        padding: 2% 0% 1%;
    }

    .t_education_details_single_p1 {
        font-size: 18px;
    }

    .t_education_details_single_p2 {
        font-size: 16px;
        line-height: 20px;
    }

    .t_language_p {
        font-size: 18px;
        padding: 2% 0% 1%;
    }

    .t_language_single_p1 {
        font-size: 18px;
    }

    .t_language_single_p2 {
        font-size: 16px;
    }
}

/* personal information home css end */
