* {
    margin: 0;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.nav_main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* position: fixed;  */
    top: 0;
    width: 100%;
    z-index: 10;
    border: 1px solid #757575;
    padding: 10px 0px;
    position: absolute;
}

.left_nav {
    flex: 5;
    display: flex;
    align-items: center;
    padding-left: 5%;
    text-decoration: none !important;
}

.logo_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 33.1915px;
    line-height: 39px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #54E346;
}

.right_nav {
    flex: 5;
    display: flex;
    align-items: center;
    right: auto;
    justify-content: end;
    padding-right: 5%;
}

.nav_icon_main {
    background-color: black;
    color: white;
    width: 85px;
    height: 85px;
    border: 1px solid #54E346;
    /* padding: 10; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-decoration: none !important;
}

.nav_icon {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


/* nav responsive css  */

@media screen and (max-width: 1280px) {
    .left_nav img {
        height: 100px;
    }

    .logo_text {
        font-size: 24px;
        line-height: 24px;
    }
}


@media screen and (max-width: 600px) {
    .logo_text {
        font-size: 10.191px;
        line-height: 10px;
    }

    .left_nav img {
        height: 65px !important;
    }

    .nav_icon_main {
        width: 45px;
        height: 45px;
        border: 1px solid #54E346;
        margin-left: 10px;
    }

    .nav_icon_1 {
        height: 48px !important;
    }

    .nav_icon_2 {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    .nav_icon_3 {
        height: 30px;
    }
}


@media screen and (max-width :360px) {
    .left_nav img {
        height: 45px !important;
    }

    .left_nav img {
        height: 45px;
    }

    .nav_icon_1 {
        height: 37px !important;
    }


    .nav_icon_2 {
        font-size: 15px !important;
    }

    .nav_icon_3 {
        height: 27px;
    }

    .nav_icon_main {
        width: 35px;
        height: 35px;
        border: 1px solid #54E346;
        margin-left: 5px;
    }

}




/* nav responsive css end  */


/* nav css end  */

/* nav popbar css start  */

.nav_pop_bar {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    left: 100%;
    transition: all .5s ease;
    visibility: hidden;
    overflow: hidden;
    max-height: 0px;
}

.nav_pop_bar_main {
    background: #141414;
    backdrop-filter: blur(200px);
    height: 100vh;
    padding: 0px 60px;
}

.nav_pop_icon {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 50px 40px;
}


.search-bar {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 50%;
    left: 50%; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    border: 1px solid #54E346;
    transition-duration: 0.2s;
    height: 85px;
}

.search-bar a {
    height: 85px;
    width: 85px;
}

.textbox {
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 40px;
    font-size: 25px;
    height: 45px;
    background-color: transparent;
    outline: none;
    height: 100%;
    float: left;
    color: #000;
    transition-duration: 0.05s;
}

.textbox_pop {
    color: #fff !important;
}

.search-btn {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    /* border-left: 5px black solid; */
    height: 100%;
    transition-duration: 0.2s;
    background-color: black;
    border: 1px solid #54E346;
}

.search-btn .search_img {
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
}

.search-bar:hover>.textbox {
    padding: 0px 10px 0px 10px;
    width: 100%;
    transition-duration: 0.8s;
}

.search-bar:hover>.search-btn {
    /* border-left: 5px black solid; */
    transition-duration: 0.8s;
}

.search-btn:hover {
    /* background-color: black; */
    transition-duration: 0.8s;
}

.search-btn:hover>.search_img {
    color: white;
    transition-duration: 0.8s;
}

.search_img {
    /* background-color: red; */
}

.nav_pop_icon a img {
    border: 1px solid #54E346;
    box-sizing: border-box;
    width: 85px;
    height: 85px;
    padding: 20px;
    margin-left: 15px;
}


.nav_main_options {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 0% 0% 0%;
}

.nav_main_options a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 1px solid #54E346;
    margin-right: 40px;
    margin-top: 40px;
}

.nav_2ndlebel_option {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    margin: 5% 0% 0% 0%;
}

.nav_2ndlebel_option .nav_2ndlebel_option_add a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 50px;
    margin: 5% 0%;
    margin-right: 8px;
}

.nav_2ndlebel_option .nav_2ndlebel_option_add img {
    margin-right: 45px;
}

.nav_2ndlebel_option_add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bottom_btn {
    margin-top: 8%;
}

.nav_bottom_btn a {
    background: #54E346;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 40px;
    margin-right: 40px;
}

.nav_botton_btn_signin {
    background: #404040 !important;
    color: #54E346 !important;
}

.nav_pop_bar.open {
    visibility: visible !important;
    z-index: 1000;
    left: 0% !important;
    overflow: visible;
}

.nav_pop_bar.close {
    visibility: hidden;
    z-index: 0;
}


.nav-toggler {
    cursor: pointer;
    /* z-index: 60000; */
}

@media screen and (max-width :1024px) {
    .nav_main_options {
        margin: 0% 0% 0% 0% !important;
    }

    .nav_main_options a {
        margin-top: 5px !important;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        margin: 0% 0% !important;
    }

    .nav_bottom_btn a {
        padding: 10px 30px;
    }

    .nav_bottom_btn {
        margin-top: 8% !important;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add img {
        margin-left: 5px;
    }
}

/* nav popbar responsive css start  */
@media screen and (max-width :800px) {
    .nav_main {
        height: 20vh;
    }

    .left_nav img {
        height: 100px;
    }

    .logo_text {
        font-size: 16.191px;
        line-height: 18px;
    }

    .mujib_logo {
        margin: 0px !important;
    }

    .home_heading_text {
        font-size: 28.99px !important;
        line-height: 30px !important;
    }

    .home_p_text {
        font-size: 12px !important;
        line-height: 16px !important;
        margin-top: 35vh !important;
    }

    .home_arrow_prev {
        margin-top: -63vh;
    }

    .home_arrow_next {
        margin-top: -63vh;
    }

    .home_btn_one {
        font-size: 14.012px !important;
        line-height: 22px !important;
        padding: 10px 28px !important;
    }

    .home_btn {
        margin-top: 52vh !important;
    }

    .home_btn_two {
        font-size: 14.012px !important;
        line-height: 22px !important;
        padding: 10px 28px !important;
    }

    .home_btn {
        margin-top: 52vh !important;
    }
}

@media screen and (max-width :550px) {
    .nav_pop_icon {
        padding: 8px 0px;
    }

    .nav_pop_icon a img {
        width: 45px;
        height: 45px;
        padding: 9px;
        margin-left: 5px;
    }

    .search-bar {
        height: 45px !important;
    }

    .search-bar input {
        font-size: 12px;
    }

    .search-bar a {
        height: 45px !important;
        width: 45px !important;
    }

    .addbar {
        display: none;
    }

    .nav_pop_bar_main {
        padding: 0px 35px;
    }

    .nav_main_options a {
        font-size: 10px;
        line-height: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 8px;
        line-height: 15px;
        margin-right: 50px;
        margin-right: 3px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add img {
        margin-right: 8px;
        height: 8px;
    }

    .nav_bottom_btn a {
        font-size: 8px;
        padding: 5px 15px;
        margin-right: 5px;
    }

    .nav_main_options {
        margin: 35% 0% 0% 0% !important;
    }

    .nav_main_options a {
        font-size: 18px;
        line-height: 30px;
    }

    .nav_2ndlebel_option {
        margin: 14% 0% 0% 0% !important;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 16px;
        line-height: 22px;
    }

    .nav_bottom_btn a {
        font-size: 16px;
        padding: 10px 25px;
    }

    .nav_bottom_btn {
        margin-top: 30% !important;
    }

    .nav_2ndlebel_option {
        margin: 10% 0% 0% 0% !important;
    }
}

@media screen and (max-width :420px) {
    .nav_main {
        height: 8vh !important;
    }

    .left_nav img {
        height: 45px !important;
    }

    .logo_text {
        font-size: 11.191px;
        line-height: 11px;
    }

    .mujib_logo {
        margin-top: -80px !important;
    }
}

@media screen and (max-width :360px) {
    .nav_pop_icon {
        padding: 8px 0px;
    }

    .nav_pop_icon a img {
        width: 45px;
        height: 45px;
        padding: 9px;
        margin-left: 5px;
    }

    .nav_pop_bar_main {
        padding: 0px 35px;
    }

    .nav_main_options a {
        font-size: 10px;
        line-height: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 8px;
        line-height: 15px;
        margin-right: 50px;
        margin-right: 3px;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add img {
        margin-right: 8px;
        height: 8px;
    }

    .nav_bottom_btn a {
        font-size: 8px;
        padding: 5px 15px;
        margin-right: 5px;
    }

    .nav_main_options {
        margin: 35% 0% 0% 0% !important;
    }

}

@media screen and (max-width :420px) {
    .left_nav img {
        height: 40px !important;
    }

    .logo_text {
        font-size: 10.191px !important;
        line-height: 10px !important;
    }

    .nav_main_options {
        margin: 20% 0% 0% 0% !important;
    }

    .nav_main_options a {
        font-size: 15px !important;
        line-height: 15px !important;
        margin-top: 20px !important;
    }

    .nav_2ndlebel_option {
        margin: 12% 0% 0% 0%;
    }

    .nav_2ndlebel_option .nav_2ndlebel_option_add a {
        font-size: 13px;
        line-height: 20px;
    }

    .nav_bottom_btn a {
        font-size: 10px;
        padding: 10px 30px;
    }
}

/* nav popbar responsive css end  */

/* .nav_pop_icon_coros{
    z-index: -10; 
} */

/* nav css pobar end  */


/* faculty css start  */




.hall_home {
    margin-top: 22vh;
    padding: 0vw 5vw 0vw 5vw;
}



.hall_home_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 15px 20px 15px 15px;
    margin-bottom: 3px;
    /* border-bottom: 4px solid #187AF1; */
}

.hall_home_box a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21.6034px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 8px;
}

.hall_home_item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15.2644px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-decoration: none !important;
    color: #000000;
    padding: 15px 20px 15px 15px;
    background-color: #F7F7F7;
    /* border-left: 3px solid #B4B4B4; */
    border-bottom: 1px solid #B4B4B4;

}

.hall_home_item:hover {
    padding: 15px 20px 15px 15px;
    /* border-left: 4px solid #187AF1; */
    background-color: #187AF1;
    color: #ffff;

}

.hall_home_left {
    display: flex;
    flex-direction: column;
}

.hall_home_top_link {
    display: flex;
    margin-bottom: 15px;
    font-size: 12px;
}

.hall_home_left img {
    margin: 2px 0px 2px 0px;
    width: 100%;
}






.hall_home_right_top_cover {
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.hall_home_right_top_cover::after {
    content: "";
    background: url(../image/faculty_home_right_top_cover.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/* why hall css :start  */

.why_hall {
    display: flex;
    flex-wrap: wrap;
    border: 0.879205px solid #C8BCBC;
    box-sizing: border-box;
    padding: 3%;
    margin: 20px 0px;
}

.why_hall_left {
    width: 40%;
    height: 100%;
}

.why_hall_left img {
    width: 90%;
}

.why_hall_right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why_hall_right img {
    width: 100px;
}

.why_hall_right_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 10px !important;
}

.why_hall_right_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.4633px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #413D3D;
    margin-top: 30px;
}

/* why css end  */


/* teacher hall css start  */

.teacher_hall {
    display: flex;
    flex-wrap: wrap;
    border: 0.879205px solid #C8BCBC;
    box-sizing: border-box;
    padding: 3%;
    margin: 20px 0px;
}

.teacher_hall_left {
    width: 40%;
    height: 100%;
}

.teacher_hall_left img {
    width: 90%;
}

.teacher_hall_right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teacher_hall_right img {
    width: 100px;
}

.teacher_hall_right_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 10px !important;
}

.teacher_hall_right_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.4633px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #413D3D;
    margin-top: 30px;
}

.hall_expert {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.hall_expert_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.hall_expert_component img {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.hall_expert_component_p1 {
    font-style: normal;
    font-weight: 800;
    font-size: 17.4833px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 10px 0px !important;
}

.hall_expert_component_p2 {
    font-style: normal;
    font-weight: 300;
    font-size: 13.1125px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #000000;
}

.support_hall {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.hall_support_left {
    width: 48%;
    margin: 1%;
}

.hall_support_right {
    width: 48%;
    margin: 1%;
}

.hall_support_left_p1 {
    background: #153E90;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21.6946px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 5%;
}

.hall_support_left_p2 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2709px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 3% 2% 2% 2%;
}

.hall_support_left_p3 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6552px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 0% 3% 3% 2%;
}

.hall_support_left_p4 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2709px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 3% 2% 2% 2%;
    margin-top: 10px;
}

.hall_support_left_p5 {
    background: #F2F9FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6552px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    padding: 0% 3% 3% 2%;
}

.hall_support_diversity {
    padding: 2% 0%;
}

.hall_support_diversity_p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21.6946px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 10px !important;
    margin-top: 40px;
}

.hall_support_diversity_p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6552px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
}

.hall_support_right img {
    width: 100%;
}

.hall_support_diversity_p2 a {
    color: red;
}

@media screen and (max-width :550px) {
    .hall_expert_component {
        flex-wrap: wrap;
        width: 100%;
    }

    .hall_expert_component img {
        height: 270px;
        width: 260px;
        margin-top: 10px;
    }

    .hall_expert {
        flex-wrap: wrap;
    }

    .hall_home {
        margin-top: 8vh;
    }

    .why_hall_left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .teacher_hall_left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .hall_support_left {
        width: 100%;
        margin: 1%;
    }

    .hall_support_right {
        width: 100%;
        margin: 1%;
    }

    .teacher_hall_right {
        width: 100%;
    }

    .why_hall_right {
        width: 100%;
        margin-top: 15px;
    }

    .nav_main {
        height: 8vh;
    }
}

/* teacher hall css end  */
